@Html.Partial("EmployerHeaderWizard", Machine["ListSection"], new ViewDataDictionary(this.ViewData) { { "current", (FACTS.Framework.Lookup.LookupCode)Machine["CurrentSection"] }, { "showHeader", (bool)Machine["ShowHeader"] } })

@using (Form())
{
    @using (Panel(stateFilter: "PaymentDetails", headingText: "Payment Details", defaultControlColumns: 4, defaultLabelColumns: 4))
    {

        @Data(labelText: "Payment Due Dates:", dataSource: "PaymentDueDates", labelColumns: 4, controlColumns: 4)
        @Data(labelColumns: 4, controlColumns: 4)
        <br />
        <p>&nbsp;&nbsp;&nbsp; If payment is not submitted by the dates indicated, you will be assessed interest and / or penalties.</p>
        @Data(labelText: "Amount Due:", id: "amountDue", dataSource: "AmountDue", formatter: Formatter.Currency, labelColumns: 4, controlColumns: 4, cssClass: "bold")
        @Data(labelText: "Total:", dataSource: "TotalAmount", formatter: Formatter.Currency, labelColumns: 4, controlColumns: 4, cssClass: "bold")
        @Data(labelText: "Payment Amount :", dataSource: "PmtAmount", formatter: Formatter.Currency, labelColumns: 4, controlColumns: 4, cssClass: "bold")
        @TextBox(labelText: "Routing Transit Number :", dataSource: "RoutTranNumber", required: "true", labelColumns: 4, controlColumns: 4, maxLength: 9, minLength: 9, formatter: Formatter.TextNumeric)
        @TextBox(labelText: "Bank Account Number :", dataSource: "BankAccNumber", required: "true", labelColumns: 4, controlColumns: 4, maxLength: 17, formatter: Formatter.TextNumeric)
        @SelectBox(labelText: "Account Type :", required: "true", dataSource: "AccountTypeDDL", lookupName: LookupTable.BankAccountType, labelColumns: 4, controlColumns: 4, blankItem: false)
        @CheckBox(caption: "Save Bank Information", labelColumns: 0, controlColumns: 2, dataSource: "SaveBankInformation")
        @TextBox(labelText: "Payment Effective Date :", dataSource: "PymtEffectiveDt", minValue: DateTime.Now.ToShortDateString(), formatter: Formatter.Date, required: "true", labelColumns: 4, controlColumns: 4)
        @Data(labelColumns: 11, controlColumns: 1)
        <p>&nbsp;&nbsp;&nbsp; Your Routing Transit Number and Bank Account Number are located on the paper checks provided by your bank.</p>
        @Data(labelColumns: 11, controlColumns: 1)
        @using (Panel(stateFilter: "PaymentDetails", borderVisible: false, panelLayout: PanelLayout.Inline, cssClass: "text-center"))
        {
            <br />
            @Button(transition: "Previous", text: "Previous")
            @Button(transition: "Next", text: "Next")
        }
    }
}
